@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
    --green: #479C87;
    --white: #ffffff;
    --light-grey: #838383;
    --dark-gray: #555555;
    --black: #14171D;
    --red: #C82A2A;
    --green-gradient: linear-gradient(to right, #378471, #10B98F)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--black);
}

header {
    background: var(--black);
    display: flex;
    justify-content: center;
    padding: 15px;
}

h1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

h1 span {
    color: var(--green);
}

.personal-info-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    width: 100%;
    min-height: calc(100vh - 60px);
    padding: 25px;
    gap: 25px;
}

.title {
    color: var(--white);
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
    padding: 25px 25px 50px 25px;
    gap: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    color: var(--white);
}

.txt-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    color: var(--light-grey);
    height: 40px;
}

.txt-input:focus {
    outline: none;
}

.radios-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.select-input {
    margin-top: 15px;
    height: 30px;
}

.select-input:focus {
    outline: none;
}

.btn {
    margin-bottom: 50px;
    background-image: var(--green-gradient);
    color: var(--white);
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.btn:hover {
    transform: scale(1.1);
}

.professional-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh 60px);
    padding: 25px;
    gap: 25px;
}

.title-section-2 {
    color: var(--white);
}

.form-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
    padding: 25px 25px 50px 25px; 
    gap: 25px;
} 

.dates-container{
    display: flex;
    flex-direction: row;
    justify-items: center;
}