@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

:root {
    --green: #2d8670;
    --white: #ffffff;
    --light-grey: #838383;
    --dark-gray: #555555;
    --black: #14171D;
    --red: #C82A2A;
    --green-gradient: linear-gradient(to right, #378471, #10B98F)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--black);
}

header {
    background: var(--black);
    display: flex;
    justify-content: center;
    padding: 15px;
}

h1 {
    font-weight: 400;
    font-size: 16px;
    color: var(--white);
}

h1 span {
    color: var(--green);
}

.personal-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--black);
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 25px;
    gap: 25px;
    
}

.txt-white {
    color: var(--white);
    text-align: center;
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
    padding: 25px;
    gap: 25px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container label {
    color: var(--white);
    font-size: 20px;
}

.txt-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    color: var(--light-grey);
    height: 40px;
    width: 100%;
}

.txt-input:focus {
    outline: none;
}

.radios-container {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.select-input {
    margin-top: 15px;
    height: 30px;
}

.select-input:focus {
    outline: none;
}

.btn-proceed {
    background-image: var(--green-gradient);
    color: var(--white);
    border: none;
    border-radius: 7px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.btn:hover {
    transform: scale(1.1);
}

.professional-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh -60px);
    padding: 25px 0px 0px 0px;
    gap: 25px;
}

.title-section-2 {
    color: var(--white);
    font-size: 2.4rem;
    text-align: center;
}

.form-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid var(--dark-gray);
    border-radius: 15px;
    padding: 25px 25px 15px 25px;
    gap: 15px;
}

.dates-container {
    display: flex;
    gap: 15px;
}

.date-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    color: var(--light-grey);
    height: 40px;
    width: 100%;
    outline: none;
}

.date-input::-webkit-calendar-picker-indicator {
    filter: invert(1)
}

.description-input {
    outline: none;
    height: 120px;
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
}

.clear-btn-experience {
    display: flex;
    display: flex;
    align-items: center;
    background: var(--red);
    color: var(--white);
    border: none;
    border-radius: 7px;
    font-size: 1.6em;
    gap: 10px;
    padding: 5px 15px;
    width: fit-content;
}

.add-exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    gap: 20px;
    text-align: center;
}

textarea {
    resize: none;
    padding: 15px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    margin: 10px 0px 0px 0px;
    gap: 20px;
}

.btn-generate-resume-voltar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    gap: 15px;
}

.btn-voltar {
    display: flex;
    background: var(--green-gradient);
    border: none;
    color: var(--white);
    border-radius: 8px;
    padding: 5px 54px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.btn-generate-resume {
    display: flex;
    background-image: var(--green-gradient);
    border: none;
    color: var(--white);
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

@media (max-width: 450px) {
    .dates-container {
        flex-direction: column;
    }

    .clear-btn-experience {
        margin: auto;
    }

    .clear-btn-experience span {
        font-size: 14px;
    }
}

.container-page-all-info {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 42px - 50px);
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.form-3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    padding: 0px 20px 10px 20px;
    gap: 15px;
}

.name {
    color: var(--green);
    font-size: 30px;
}

hr {
    border-color: var(--dark-gray);
}

.deve-web {
    color: var(--white);
    padding: 15px 0px 0px 0px;
}

.txt-green {
    color: var(--green);
}

.info-container-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 5px;
}

.info-pessoal {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

.title-info-prof {
    display: flex;
    padding: 20px 0px 0px 0px;
}

.container-txt-info{
    width: 100%;
    max-width: 800px;
    border-left: 3px solid var(--dark-gray);
    padding-left: 15px;
}

.txt-info {
    display: flex;
    color: var(--white);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background: var(--green-gradient);
    width: 100vw;
    padding: 10px 0px 10px 0px;
    top: 10vh;
}

.btn-page-all-info-container {
    display: flex;
    margin: 10px 0px;
}

@media (max-width: 450px) {
    .info-container-wrapper {
        display: flex;
        flex-direction: column;
    }
    .info-container-wrapper span {
        font-size: 12px;
    }
    .footer-container {
        display: flex;
        font-size: 12px;
        margin: auto;
    }
    .title-info-prof span {
        font-size: 14px;
    }
    .txt-info {
        font-size: 14px;
    }
}

.none {
    display: none;
}  